html, body, .page{
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
    color: #E0E0E0;
    /*transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1)!important;*/
    /*transition: all 1s ease!important;*/
    background: #212121;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
}

ul li {
    list-style-type: none;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #000;
    border-right: 5px solid;
    border-color: #434343;
    z-index: 1;
    transition: 1s;
}

.page {
    position: absolute;
    line-height: 40px;
    /*right: 30px;*/
}
.page::-webkit-scrollbar {
    display: none;
}

.page .main-content {
    position: relative;
    margin-left: 25%;
    margin-right: 100px;
    height: 100%;
    transition: 1s;
}

header{
    margin: 10px;
    width: 80%;
    float: right;
    display: flex;
}

a {
    text-decoration: none;
    color: #c0c0c0;
    cursor: pointer;
}
a:hover,
.anchor:hover{
    opacity: 0.6;
}

button:hover {
    cursor: pointer;
}
.common-btn {
    margin-right: 20px;
    background: transparent;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: all 0.5s ease-in-out;
}
.common-btn:hover {
    background: #fff;
    color: #000;
}

.icon-font {
    font-size: 12px;
}
.icon-btn {
    width: 80px;
    height: 30px;
    border: 1px solid #928bad;
    background: transparent;
    color: #fff;
}
.icon-btn:hover {
    background: #928bad;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.icon-img {
    width: 20px;
    padding-left: 20px;
    padding-right: 5px;
    vertical-align: text-bottom;
}
.icon-noti {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ee9ca7;
}

.user-img {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.admin-content {
    position: absolute;
    top: 50px;
    height: 100%;
    width: 100%;
}
.admin-btn {
    padding: 5px;
    border: none;
    background: transparent;
    border-bottom: 2px #928bad solid;
    color: #fff;
    font-weight: bold;
}
.admin-btn:hover {
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
}

.role-wrapper {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 10px 16px;
    box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.8);
    color: #eee;
}
.table-reason {
    width: 100%;
}
.table-reason thead {
    background: #948e99;
}
.table-reason tbody tr td {
    text-align: center;
}

textarea, input {
    color: #E0E0E0;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}
textarea:focus, input:focus {
    outline: none;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-in-out;
}

.reset-password {
    position: absolute;
    padding: 0 100px 100px 100px;
    top: 10%;
    box-shadow: 6px 4px 4px 6px #000;
}
.reset-form {
    display: flex;
    flex-direction: column;
}
.reset-in {
    padding: 10px;
    width: 200px;
}
.reset-btn {
    width: 160px;
    margin: 40px 0 0 10px;
}
.home-icon {
    padding: 16px;
    border-radius: 50%;
    background: linear-gradient(45deg, #bfa885, #bfb4a2, #5f5442);
    box-shadow: 0 0 8px #bfb4a2;
}
/*@media screen and (min-width: 1500px) {*/
/*    .nav-bar {*/
/*        display: none;*/
/*    }*/
/*    .main-content {*/
/*    }*/
/*    header {*/
/*        width: 100%;*/
/*        margin-left: 20px;*/
/*    }*/
/*}*/
h1, h2, h3 {
    font-family: 'Amarante', Tahoma, sans-serif;
}

.error-tip {
    color: red;
    text-shadow: 0px 0px 8px #eee;
}
