html, body, .page{
    margin: 0; padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    /*transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1)!important;*/
    /*transition: all 1s ease!important;*/
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
}

ul li {
    list-style-type: none;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    border-right: 5px solid;
    border-color: #434343;
    z-index: 1;
}

.page {
    position: absolute;
    line-height: 40px;
}
.page::-webkit-scrollbar {
    display: none;
}

.page .main-content {
    margin-left: 26%;
    margin-right: 80px;
    height: 100%;
}

header{
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: #c0c0c0;
    cursor: pointer;
}
a:hover,
.anchor:hover{
    opacity: 0.6;
}

.common-btn {
    margin-right: 20px;
    background: #000;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    transition: all 0.5s ease-in-out;
}
.common-btn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.icon-font {
    font-size: 12px;
}
.icon-btn {
    width: 80px;
    height: 30px;
    border: 1px solid #928bad;
    background: transparent;
    color: #fff;
}
.icon-btn:hover {
    background: #928bad;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.icon-img {
    width: 20px;
    padding-left: 20px;
    padding-right: 5px;
    vertical-align: text-bottom;
}
.icon-img-dian {
    width: 20px;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
